<section class="curve">
  
</section>

{% schema %}
  {
    "name": "Curve",
    "settings": [
      
    ],
     "presets": [
        {
            "name": {
                "en": "Curve"
               
            },
            "category": {
                "en": "Home"
               
            }
        }
    ],
    "disabled_on": {
      "groups": ["header", "footer"]
    }
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}