
.brand-carousels .box {
    width: 550px;
    height: 350px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.brand-carousels img.carousel-cell.carousel-logo {
    width: 550px;
    height: 350px;
    text-align: center!important;
    margin: 0 auto;
}
  .owl-dots {
    text-align: center;
    margin-top:20px;
}
.images-cta {
    padding: 50px;
}
@media screen and (max-width: 1000px){
.brand-carousels img.carousel-cell.carousel-logo, .brand-carousels .box {
    width: 100%!important;
    height: 200px!important;
}
 .images-cta {
    padding: 40px 20px!important;
}
}
@media only screen and (min-width: 1000px) and (max-width: 1800px){
.brand-carousels img.carousel-cell.carousel-logo, .brand-carousels .box {
    width: 98%!important;
    height: 200px!important;
}
}